@font-face {
    font-family: RobotoCB;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotoCR;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: RobotoCL;
    src: url(../fonts/RobotoCondensed-light.ttf);
}
@font-face {
    font-family: RobotoR;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoL;
    src: url(../fonts/Roboto-Light.ttf);
}
body{
  font-family: RobotoCR;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  padding: 0 !important;
}
a{
  margin: -2px;
  padding: 0;
}
.subTitle{
  margin: 5px 0px 20px 0px;
}
#mainNav{
  font-family: RobotoCB;
  background-color: #231f20;
  font-size: 1.25em;
  display: none;
}
#mainNav .nav-links{
  font-family: RobotoCR;
  overflow:hidden;
}
#mainNav .navbar-brand{
  color: #ffffff;
}
#mainNav .navbar-brand:hover{
  color: #ffffff;
}
#secondNav{
  font-family: RobotoCB;
  background-color: rgba(0, 0, 0, 0);;
  font-size: 1.25em;
}
.mainArt{
  width: 92%;
  margin: 0 auto;
  margin-bottom: 15px;
}
#Home{
  margin-bottom: 65px;
  text-align: center;
}
#Home h3{
  color: #dd5238;

}
#Home hr{
  width: 50%;
}
#Home .speakers span{
  color: #dd5238;
}
#Home .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#Home .remodal_video{
  background-color: #FFFFFF ;
}
#Home .video_button {
  font-size: 30px;
  border: 2px solid #dd5238;
  padding: 5px 20px 6px 20px;
  border-radius: 6px;
  color: #231f20;
  font-family: RobotoCL;
  text-decoration: none;
  cursor:pointer;
}
#Nosotros{
  background-color: #dd5238;
  padding: 15px 0 15px 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-family: RobotoCL;
}
#Nosotros .Nosotros_title{
  line-height: 20px;
  margin: 25px 0 20px 0;
  font-size: 24px;
  font-family: RobotoCL, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
}
#Nosotros .Nosotros_text{
  text-align: left;
  font-size: 18px;
  font-family: RobotoCL, sans-serif;
  line-height: 24px;
}
#Nosotros .Nosotros_title_progreso{
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  margin-top: 0;
}
#Nosotros .progressStuff{
  margin: 15px 0 0 0;
}
#Nosotros .progressStuff p{
  text-align: left;
  padding: 0;
  margin: 0 0 0 0;
  font-size: 15px;
}
.progressbar-text{
  text-align: right;
  position: relative;
  right: 0;
  bottom: 30px;
  padding: 0;
  margin: 0;

}
#Conferencistas{
  background-color: #ffffff;
  padding: 15px 0 15px 0;
  text-align: center;
}
.conferencista{
  display: inline-block;
  font-family: RobotoCB;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 200px;
}
.conferencista:hover > .conf-triangle{
  -webkit-transform: translate(0,-1.7em);
      -moz-transform: translate(0,-1.7em);
      -o-transform: translate(0,-1.7em);
      -ms-transform: translate(0,-1.7em);
      transform: translate(0,-1.7em);
}
.conferencista_image{
  width: 100%;
}
.conferencista_image_modal{
  width: 100%;
}
.conferencista_descripcion_modal{
  display: table;
  padding-top: 25px;
}
.conferencista_descripcion_modal p{
  display: table-cell;
  vertical-align: middle;
}
.conferencista_name{
  vertical-align: middle;
  position: relative;
}
#Informacion{
  background-color: #231f20;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}
#Informacion .icons{
  height: 90px;
}
#Informacion a{
  color: #fff;
  padding: 0;
  margin: 0;
}
#Informacion h3{
  margin-bottom: 20px;
}
#Informacion .nav-tabs-titles{
  font-family: RobotoL;
  border-bottom: 0px solid #fff;
  padding-bottom: 15px;
}
#Informacion .informacionPrecios{
  text-align: center;
  margin: 10px 0;
  width: 50%;
}
#Informacion .informacionPrecios span{
  font-size: 15px;
}
#Informacion .preciosI{
  padding: 15px 5px 15px 5px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 275px;
  margin: 0 auto;
}
#ubicacionFecha .ubicacionFechaText{
  font-size: 18px;
  font-family: RobotoCR;
  margin-top: 30px;
}
#ubicacionFecha .ubicacionFechaText p{
  margin: 0;
}
#ubicacionFecha .ubicacionFechaDireccion {
  margin-top: 15px;
  text-align: left;
  font-size: 12px;
  font-family: RobotoR;
}
#ubicacionFecha .ubicacionFechaFechas{
  margin-top: 15px;
  text-align: center;
  font-family: RobotoR;
}
.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}


/* Times */
.agenda .agenda-time { width: 140px; }


/* Events */
.agenda .agenda-events {  }
.agenda .agenda-events .agenda-event {  }

/* REGISTRO */

#registro .registroContainer{
  background-image: url(../img/paymentBG.png);
  background-color: #343434;
  padding: 0;
}

.paymentToggle{
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: .03em;
  color: #fff;
  background-color: rgba(87, 88, 90, 0.63);
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
}

#Contacto{
  background: #57585a url('../img/world-map.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
footer{
  text-align: center;
}
footer .hash{
  padding-top: 7px;
  vertical-align: top;
}
footer .social_button{
  text-decoration: none;
  color: #231f20;
  margin: 5px;
}

.arrow {
    position: relative;
}
.arrow > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6em solid transparent;
    margin-top: -11em;
    border-bottom: 6em solid #dd5238;
    left: -6em;
    top: 0em;
}
.conf-triangle {
    position: absolute;;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}
.conf-triangle > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 4em solid transparent;
    margin-top: -4em;
    border-bottom: 4em solid #ffffff;
    left: -4em;
    top: -1.5em;
}
@-moz-document url-prefix() {
  .conf-triangle > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 4em solid transparent;
    margin-top: -4em;
    border-bottom: 4em solid #ffffff;
    left: -11em;
    top: 19.5em;
  }
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: transparent;
}
.navbar-toggle{
  border: 0px solid black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default {
    background-color: #f8f8f8;
    border: none;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-brand img {
    height: 135%;
    margin-top: -13px;
}
.navbar-bigger{
  padding: 12px 15px;
}
.navbar_second_black_bg{
  background-color: #231f20 !important;
}
.navbar_second_black{
  color: #231f20 !important;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  width: 50%;
  font-size: 1.3em;
  background-color: #231f20;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #343434 !important;
    border: 1px solid #fff;
    border-bottom-color: transparent;

    background-image: url(../img/paymentBG.png);
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #434345;
    border: none;
}

.nav-tabs>li>a {
  border-bottom:  1px solid #fff;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}

.registroContainer .tab-content>.active{
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 15px 0;
}

/* MailChimp */

#mc_embed_signup{background:#fff; clear:left; font:19px RobotoCL,sans-serif; width:100%;border-left: 1px solid #57585A;}
#mc_embed_signup label, footer .social label{font-size: 20px !important; font-weight: 300;}
#mc_embed_signup form, footer .social{text-align: center; padding: 0; margin: 15px 0 15px 0;padding: 10px 0 10px 0;}
#mc_embed_signup .button{background-color: #231F20 !important;}
#mc_embed_signup .button:hover{background-color: #57585a !important;}
#mc_embed_signup_scroll #mce-EMAIL{width: 280px}

@media only screen and (max-width : 992px) {
  #mc_embed_signup{
    border-left: 0px ;
    border-top: 1px solid #57585A;
  }
}

@media only screen and (max-width : 767px) {
  .mainArt{
    width: 100%;
  }
  .spanishLogo{
    width: 40%;
  }
  .conferencista_image_modal{
    width: 30%;
  }
  #Nosotros p {
    padding: 15px 3px 0px 3px;
  }
}

@media only screen and (max-width : 480px) {
  .spanishLogo{
    display: none;
  }
  .mainArtContainer{
    margin-bottom: 50px;
  }
  .mainArt{
    max-width: 340px;
  }
  .conferencista{
    width: 50%;
    height: auto;;
  }
  .conferencista_image_modal{
    width: 50%;
  }
  .remodal h4{
    font-size: 14px;
  }
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (max-width: 768px){
  #mc_embed_signup .button {
    width: 280px !important;
  }

}
@media (max-width: 675px){
  #Informacion .informacionPrecios {
    width: 100%;
  }

}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
