@font-face {
    font-family: RobotoCB;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: RobotoCR;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: RobotoCL;
    src: url(../fonts/RobotoCondensed-light.ttf);
}
@font-face {
    font-family: RobotoR;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoL;
    src: url(../fonts/Roboto-Light.ttf);
}
body{
  font-family: RobotoCR;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  padding: 0 !important;
}
a{
  margin: -2px;
  padding: 0;
}
.subTitle{
  margin: 5px 0px 20px 0px;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: flex-start;
}
#mainNav{
  font-family: RobotoCB;
  background-color: #231f20;
  font-size: 1.25em;
  display: none;
}
#mainNav .nav-links{
  font-family: RobotoCR;
}
#mainNav .navbar-brand{
  color: #ffffff;
}
#mainNav .navbar-brand:hover{
  color: #ffffff;
}
#secondNav{
  font-family: RobotoCB;
  background-color: rgba(0, 0, 0, 0);;
  font-size: 1.25em;
}
.mainArt{
  width: 92%;
  margin: 0 auto;
}
#Nosotros{
  background-color: #dd5238;
  padding: 15px 0 15px 0;
  color: #fff;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  font-family: RobotoCL;
}
#Nosotros p{
  font-size: 24px;
  padding: 25px 3px 0px 3px;
  text-align: justify;
}

#Conferencistas{
  background-color: #ffffff;
  padding: 15px 0 15px 0;
  text-align: center;
}
.conferencista{
  display: inline-block;
  font-family: RobotoCB;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 200px;
}
.conferencista:hover > .conf-triangle{
  -webkit-transform: translate(0,-1.7em);
      -moz-transform: translate(0,-1.7em);
      -o-transform: translate(0,-1.7em);
      -ms-transform: translate(0,-1.7em);
      transform: translate(0,-1.7em);
}
.conferencista_image{
  width: 100%;
}
.conferencista_image_modal{
  width: 100%;
}
.conferencista_descripcion_modal{
  display: table;
  padding-top: 25px;
}
.conferencista_descripcion_modal p{
  display: table-cell;
  vertical-align: middle;
}
.conferencista_name{
  vertical-align: middle;
  position: relative;
}
#Informacion{
  background-color: #231f20;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}
#Informacion .icons{
  height: 90px;
}
#Informacion a{
  color: #fff;
  padding: 0;
  margin: 0;
}
#Informacion h3{
  margin-bottom: 20px;
}
#Informacion .nav-tabs-titles{
  font-family: RobotoL;
  border-bottom: 0px solid #fff;
  padding-bottom: 15px;
}

#Informacion .preciosI{
  padding: 15px 5px 15px 5px;
  border: 1px solid #fff;
  border-radius: 4px;
}
#Informacion .informacionPrecios{
  text-align: center;
  margin: 10px 0;
}
#Informacion .informacionPrecios span{
  font-size: 15px;
}
#ubicacionFecha .ubicacionFechaText{
  font-size: 18px;
  font-family: RobotoCR;
}
#ubicacionFecha .ubicacionFechaText p{
  margin: 0;
}
#ubicacionFecha .ubicacionFechaDireccion {
  margin-top: 15px;
  text-align: left;
  font-size: 12px;
  font-family: RobotoR;
}
#ubicacionFecha .ubicacionFechaFechas{
  margin-top: 15px;
  text-align: left;
  font-size: 15px;
  font-family: RobotoR;
}
#ubicacionFecha .comInfo{
  margin-top: 20px;
}
.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}


/* Times */
.agenda .agenda-time { width: 140px; }


/* Events */
.agenda .agenda-events {  }
.agenda .agenda-events .agenda-event {  }

#Contacto{
  background-color: #57585a;
  color: #fff;
  text-align: center;
}
.footer{
  text-align: center;
}
.arrow {
    position: relative;
}
.arrow > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6em solid transparent;
    margin-top: -11em;
    border-bottom: 6em solid #dd5238;
    left: -6em;
    top: 0em;
}
.conf-triangle {
    position: absolute;;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}
.conf-triangle > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 4em solid transparent;
    margin-top: -4em;
    border-bottom: 4em solid #ffffff;
    left: -4em;
    top: -1.5em;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: transparent;
}
.navbar-toggle{
  border: 0px solid black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default {
    background-color: #f8f8f8;
    border: none;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-brand img {
    height: 135%;
    margin-top: -13px;
}
.navbar-bigger{
  padding: 12px 15px;
}
.navbar_second_black_bg{
  background-color: #231f20 !important;
}
.navbar_second_black{
  color: #231f20 !important;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
@media only screen and (max-width : 767px) {
  .vertical-center {
    min-height: 50%;
    min-height: 50   vh;

    display: flex;
    align-items: center;
  }
  .mainArt{
    width: 100%;
  }
  .spanishLogo{
    width: 40%;
  }
  .conferencista_image_modal{
    width: 30%;
  }
  #Nosotros .video{
    padding: 0px;
  }
  #Nosotros p {
    padding: 15px 3px 0px 3px;
  }
}

@media only screen and (max-width : 480px) {
  .spanishLogo{
    display: none;
  }
  .mainArtContainer{
    min-height: 500px;
  }
  .conferencista{
    width: 50%;
    height: auto;;
  }
  .conferencista_image_modal{
    width: 50%;
  }
  .remodal h4{
    font-size: 14px;
  }
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
